.header {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  z-index: 3;
  position: relative;
  width: 100%;
  flex-flow: row wrap;
}

.text {
  color: black;
  width: 40%;
  margin: 40px;
  font-family: 'futura';
  float: left;
  max-width: 800px;
  h1 {
    font-size: 60px;
  }
  flex: 8;
}

.pic {
  margin: 50px;
  flex: 0;
  .myPicture {
    border-radius: 50%;
    width: 300px;
  }
}

@media only screen and (max-width: 773px) {
  .text {
    text-align: center;
  }
  .pic {
    text-align: center;
    flex: 1;
  }
}
